includes:
    - phpstan-baseline.neon
#    - vendor-bin/larastan/vendor/larastan/larastan/extension.neon
#    - vendor/roavcome/no-floaters/rules.neon
#    - vendor/phpstan/phpstan-strict-rules/rules.neon
#    - vendor/ergebnis/phpstan-rules/rules.neon
#    - vendor/ekino/phpstan-banned-code/extension.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-loose-calls.neon

parameters:
    level: 5
    paths:
        - config
        - src
    tmpDir: .build/phpstan
#    checkOctaneCompatibility: true
#    checkModelProperties: true
#    checkMissingIterableValueType: true
#    disallowFloatsEverywhere: true

#    strictRules:
#        allRules: false
#        booleansInConditions: false
#        uselessCast: false
#        requireParentConstructorCall: false
#        disallowedConstructs: false
#        overwriteVariablesWithLoop: false
#        closureUsesThis: false
#        matchingInheritedMethodNames: false
#        numericOperandsInArithmeticOperators: false
#        strictCalls: false
#        switchConditionsMatchingType: false
#        noVariableVariables: false
    disallowedFunctionCalls:
        -
            function: 'env()'
            message: 'use config() instead'
        -
            function: 'env_explode()'
            message: 'use config() instead'
        -
            function: 'env_getcsv()'
            message: 'use config() instead'
    ignoreErrors:
        - "#^Unsafe usage of new static\\(\\)\\.$#"
        - '#^Unused result of "or" operator\.$#'
#        - "#^Unsafe call to private method Guanguans\\\\LaravelApiResponse\\\\.*\\:\\:.*\\(\\) through static\\:\\:\\.$#"
        -
            message: "#^Calling env\\(\\) is forbidden, use config\\(\\) instead\\.$#"
            path: src/Support/helpers.php
