parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Illuminate\\Support\\Collection\:\:unshift\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: src/ApiResponse.php

		-
			message: '#^Call to function function_exists\(\) with callable\-string will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Pipes/CallableDataPipe.php

		-
			message: '#^Cannot call method has\(\) on array\|Illuminate\\Contracts\\Translation\\Translator\|string\.$#'
			identifier: method.nonObject
			count: 2
			path: src/Pipes/MessagePipe.php

		-
			message: '#^Trait Guanguans\\LaravelApiResponse\\Support\\Traits\\ApiResponseFactory is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Support/Traits/ApiResponseFactory.php
