# total 11 errors
includes:
    - disallowed.function.neon
    - function.alreadyNarrowedType.neon
    - method.notFound.neon
    - nullCoalesce.variable.neon
    - trait.unused.neon
    - typeCoverage.paramTypeCoverage.neon
    - typePerfect.narrowPublicClassMethodParamType.neon
