# total 12 errors

includes:
    - assign.propertyType.neon
    - disallowed.function.neon
    - new.static.neon
    - nullCoalesce.variable.neon
    - shipmonk.publicPropertyNotReadonly.neon
    - trait.unused.neon
    - typePerfect.narrowPublicClassMethodParamType.neon
    - variable.undefined.neon
